
{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
{% block style %}
 
{% endblock style %}

{% block body %}



<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/17557604/2022/3/16/40a6d1f5-fa2e-4ad9-9626-cbf3f550cc4a1647439342734saubhagyaWomenBlackDupatta1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">saubhagya Black & Gold-Toned Ethnic Motifs Woven Design Dupatta with Zari</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">3999</small>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/productimage/2021/6/11/23bc8e5f-1535-4a95-aaaa-b27e9d2e43021623432225952-1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Vbuyz Women Blue Ethnic Motifs Panelled Kurti with Trousers & With Dupatta</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 4999</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/18286434/2022/7/29/657f65b2-9eeb-4ba4-9945-b5592f74546d1659095544614VASTRANANDRedFloralBeadsandStonesOrganzaSaree1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">VASTRANAND Red Floral Beads and Stones Organza Saree.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 5555</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/14470038/2021/10/11/8bfc5f1b-2250-4080-83fa-d6776c52cd871633942307594-Sangria-Women-Sweaters-4521633942307110-1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Sangria Women Maroon Floral Embroidered Cardigan</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 2299</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/16873398/2022/1/19/a1364d40-3e7c-4740-b441-0dd1a73d9b8e1642579339966BewakoofWomenPurpleColourblockedSweatshirt1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Bewakoof Women Purple & White Colourblocked Sweatshirt</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 1599</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/16571966/2021/12/21/cdc6c18e-0f82-48ec-a2ad-187f393055db1640082756549LatinQuartersWomenBeigeSolid1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Latin Quarters Women Beige Checked Acrylic Poncho Sweater.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 2299</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/16450186/2021/12/21/eab9652f-ef88-4902-a234-2ba9c7d1bae41640079156809-Berrylush-Women-Pink-Floral-Print-Surplice-Neck-Cami-Romper--1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Berrylush Women Pretty Pink Printed Romantic Florals Playsuit</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 1799</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/17566032/2022/3/29/dec017ed-28ab-4ec9-94c3-878efc1dcfd41648550653735-ZIYAA-Women-Jumpsuit-8331648550653161-1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">ZIYAA Women Elegant Lavender Printed New Neckline Jumpsuit.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 3999</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://assets.myntassets.com/assets/images/16183072/2021/12/6/540e3494-104a-4a6b-b689-1717419f644f1638772261431SareesBanarasiStyleWomenSareesBanarasiStyleWomenSareesBanara1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Studio Shringaar Women Black & Silver Sequinned Threadwork Detail Saree Blouse</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-body-secondary">Rs 2450</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        {% endblock body %}
 